= image_tag @user.avatar_url(150)

h3= @user.username

p= simple_format @user.bio if @user.bio.present?

= render partial: 'users/follow_button', locals: { user: @user }

ul.vertical-list
  - @grits.each do |grit|
    li= render partial: 'grits/grit', locals: {grit: grit}

